<a href="https://colab.research.google.com/github/dkambarami/todo-app/blob/main/SVM_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

Data Collection and Analaysis

In [3]:
diabetes = pd.read_csv('/content/diabetes.csv')

In [5]:
diabetes.shape

(768, 9)

Statistical Data

In [6]:
diabetes.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [11]:
diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

Calculate Outcome Means

In [12]:
diabetes.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [14]:
#seperating data and labels
X=diabetes.drop(columns='Outcome',axis=1)
y=diabetes['Outcome']

In [17]:
#Data Standardization
scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
standardized_X=scaler.transform(X)

In [21]:
X=standardized_X

In [26]:
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.2, stratify=y,random_state=2)

In [27]:
X.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape

((768, 8), (614, 8), (154, 8), (614,), (154,))

Training the model

In [28]:
classifier = svm.SVC(kernel='linear')

In [29]:
#training the SVM Classifier

classifier.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Model Evaluation

In [30]:
X_train_pred = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_pred,y_train)

In [31]:
X_train_accuracy

0.7866449511400652

In [32]:
X_test_pred = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_pred,y_test)
X_test_accuracy

0.7727272727272727

Make Predictions

In [41]:
lady_array =(6,18,122,35,0,12.6,0.300,20)
lady_array_np = np.array(lady_array)

In [42]:
lady_array_scaled = scaler.fit_transform(lady_array_np.reshape(-1,1))

In [43]:
classifier.predict(lady_array_scaled.reshape(1,-1))

array([0])